<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">

    <title>Template Page</title>
  </head>
  <body>
    <div class="container">
      <div class="left-wrapper">
        <img class="avatar" src="assets/avatar.png">
        <h1 class="name">John Doe</h1>
        <h3 class="role">UI/UX Designer</h3>
        <h4 class="website">www.johndoe.io</h4>
        <div class="title">
          <h3>Contact</h3>
        </div>
        <div class="contact">
          <p><span class="sub-title">Address: </span>S1, Mirzo Ulugbek, Tashkent 100070</p>
          <p><span class="sub-title">Mobile: </span>+998 99 858 22 20</p>
          <p><span class="sub-title">Email: </span>info@johndoe.io</p>
          <p><span class="sub-title">website: </span>johndoe.io</p>
          <p><span class="sub-title">Skype: </span>johndoe85</p>
          <p><span class="sub-title">Linkedin: </span>@johndoe_io</p>
        </div>
        <div class="title">
          <h3>Skills</h3>
        </div>
        <div class="skills">
          <div class="proficiency">
            <div class="category">Adobe XD</div>
            <div class="bar">
              <div class="fill" style="width: 80%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Sketch</div>
            <div class="bar">
              <div class="fill" style="width: 70%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Illustrator</div>
            <div class="bar">
              <div class="fill" style="width: 95%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Photoshop</div>
            <div class="bar">
              <div class="fill" style="width: 95%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Webflow</div>
            <div class="bar">
              <div class="fill" style="width: 60%;"></div>
            </div>
          </div>
        </div>
        <div class="title">
          <h3>Languages</h3>
        </div>
        <div class="languages">
          <div class="proficiency">
            <div class="category">English</div>
            <div class="bar">
              <div class="fill" style="width: 65%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Russian</div>
            <div class="bar">
              <div class="fill" style="width: 90%;"></div>
            </div>
          </div>
          <div class="proficiency">
            <div class="category">Spain</div>
            <div class="bar">
              <div class="fill" style="width: 40%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-wrapper">
        <div class="title">
          <h3>Summary</h3>
        </div>
        <div class="summary">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="title">
          <h3>Work Experience</h3>
        </div>
        <div class="experience">
          <div class="history">
            <div class="left">
              <div class="header">Graphic Designer</div>
              <div class="period">2015 - 2019</div>
            </div>
            <div class="right">
              <div class="header">Soft Design Studios</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
          <div class="history">
            <div class="left">
              <div class="header">Web Designer</div>
              <div class="period">2013 - 2015</div>
            </div>
            <div class="right">
              <div class="header">Web tech LTD</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
          <div class="history">
            <div class="left">
              <div class="header">Lead Web Designer</div>
              <div class="period">2010 - 2013</div>
            </div>
            <div class="right">
              <div class="header">Dev Creative Solutions</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
        </div>
        <div class="title">
          <h3>Education</h3>
        </div>
        <div class="education">
          <div class="history">
            <div class="left">
              <div class="header">University Of Lorem</div>
              <div class="period">2015 - 2019</div>
            </div>
            <div class="right">
              <div class="header">Certificate Of web Traing</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
          <div class="history">
            <div class="left">
              <div class="header">University Of Lorem</div>
              <div class="period">2004 - 2008</div>
            </div>
            <div class="right">
              <div class="header">Bachelor Of Art Director</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
          <div class="history">
            <div class="left">
              <div class="header">University Of Lorem</div>
              <div class="period">2003 - 2004</div>
            </div>
            <div class="right">
              <div class="header">GraphIc Design</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
        </div>
        <div class="title">
          <h3>Reference</h3>
        </div>
        <div class="reference">
          <p><span class="name">Mannonov Sardor</span><br>Director, Sr. design studio<br>Phone: +998 853 22 20<br>Email: mannonov@hotmail.com</p>
          <p><span class="name">Jensen Smith</span><br>Web developer, Design mate LTD<br>Phone: +123 5556 44 55<br>Email: jensonsmith@gmail.com</p>
        </div>
      </div>
    </div>
  </body>
</html>