<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css">

    <title>Template Page</title>
  </head>
  <body>
    <div class="container">
      <div id="title">
          <h1>JOHN DOE</h1>
          <h2>UI/UX DESIGNER</h2>
      </div>
      <div  class="subtitle sub_summary">
          <h3>SUMMARY</h3>
      </div>
      <div class="space"></div>
      <div id="summary">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="space"></div>
      <div  class="subtitle sub_work">
          <h3>WORK EXPERIENCE</h3>
      </div>
      <div class="space"></div>
      <div id="work">
          <div class="detail">          
              <div class="left-wrapper">
                <h4>GRAPHIC DESIGNER</p>
                <h5>2015-2019</P>
              </div>
              <div class="right-wrapper">
                <h4>SOFT DESIGN STUDIOS</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>           
          </div>
          <div class="detail">          
              <div class="left-wrapper">
                <h4>WEB DESIGNER</p>
                <h5>2013-2015</P>
              </div>
              <div class="right-wrapper">
                <h4>WEB TECH LTD</h4>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit. </p>
              </div>           
          </div>
          <div class="detail">          
              <div class="left-wrapper">
                <h4>LEAD WEB DESIGNER</p>
                <h5>2010-2013</P>
              </div>
              <div class="right-wrapper">
                <h4>DEV CREATIVE SOLUTIONS</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>           
          </div>
      </div>
      
      <div class="space"></div>
      <div  class="subtitle sub_edu">
          <h3>EDUCATION</h3>
      </div>
      <div class="space"></div>
      <div id="work">
          <div class="detail">          
              <div class="left-wrapper">
                <h4>UNIVERSITY OF LOREM</p>
                <h5>2008-2010</P>
              </div>
              <div class="right-wrapper">
                <h4>CERTIFICATE OF WEB TRAINIG</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
              </div>           
          </div>
          <div class="detail">          
              <div class="left-wrapper">
                <h4>UNIVERSITY OF LOREM</p>
                <h5>2004-2008</P>
              </div>
              <div class="right-wrapper">
                <h4>BECHELOR OF ART DIRECTOR</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>           
          </div>
          <div class="detail">          
              <div class="left-wrapper">
                <h4>UNIVERSITY OF LOREM</p>
                <h5>2003-2004</P>
              </div>
              <div class="right-wrapper">
                <h4>GRAPHIC DESIGN</h4>
                <p>Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>           
          </div>
      </div>
      <div class="space"></div>
      <div  class="subtitle sub_skill" style="margin-bottom:10px;">
          <h3>SKILLS</h3>
      </div>
      <div class="space"></div>
      <div id="skill">
          <div class="detail">
              <div class="n3-wrapper">
                  <h4>Adobe XD</h4>
                  <div class="bar">
                    <div class="fill" style="width: 80%;"></div>
                  </div>
              </div>
              <div class="n3-wrapper">
                  <h4>Illustrator</h4>
                  <div class="bar">
                    <div class="fill" style="width: 90%;"></div>
                  </div>
              </div>
              <div class="n3-wrapper">
                  <h4>Webflow</h4>
                  <div class="bar">
                    <div class="fill" style="width: 50%;"></div>
                  </div>
              </div>
          </div>
          <div class="detail">
              <div class="n3-wrapper">
                  <h4>Sketch</h4>
                  <div class="bar">
                    <div class="fill" style="width: 70%;"></div>
                  </div>
              </div>
              <div class="n3-wrapper">
                  <h4>Photoshop</h4>
                  <div class="bar">
                    <div class="fill" style="width: 90%;"></div>
                  </div>
              </div>
              
          </div>
      </div>
      <div class="space"></div>
      <div  class="subtitle sub_refer" style="margin-bottom:30px;">
          <h3>REFERENCE</h3>
      </div>
      <div class="space"></div>
      <div id="refer">
          <div>
              <p>MANNONOV SARDOR Director, Sr. design studio <br>Phone: +998 853 22 20 Email:mannonov@hotmail.com</p>
          </div>
          <div>
              <p>JENSEN SMITH Web developer, Design group LTD<br> Phone: +123 434 4455 Email:jensonsmith@gmail.com</p>
          </div>
      </div>
      <div  class="subtitle sub_contant" style="margin-bottom:30px;">
          <h3>CONTACT</h3>
      </div>
      <div class="space"></div>
      <div id="contact">
          <p>Address: S1, Mirzo Ulugbek, Tashkent 100070 Mobile: +998 99 853 22 20. Email: info@johndoe.io <br>Website: johndoe.io. Skype: johndoe85 LINKEDIN: @johndoe85</p>
      </div>
    </div>
  </body>
</html>