body {
    background-color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2em;
    margin: 1em auto;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
    max-width: 71em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    font-weight: 400;
    color: #393939;
}
.container{margin-right: auto;margin-left: auto;padding-left: 15px;padding-right: 15px;position: relative;}
header{margin: 0;padding: 4em 0;text-align: center;}
header .user_img{width: 18%;float: left;}
header .user_img img{display: inline-block;width: 200px;height: 207px;border-radius: 10px 0px 0px 10px;-webkit-border-radius: 10px 0px 0px 10px;-moz-border-radius: 10px 0px 0px 10px;-ms-border-radius: 10px 0px 0px 10px;}
header .user_detail{width: 22%;float: left;margin-left: 40px;text-align: left;margin-top: 50px;}
header .user_contact{float: right;width: 22%;margin-top: 50px;}
header h1{font-size: 44px;line-height: 42px;margin-bottom: 20px;text-transform: uppercase;font-weight: 700;}
header h3{font-size: 25px;margin-bottom: 15px;text-transform: uppercase;font-weight: 700;}
header h5{font-size: 22px;letter-spacing: 1px;}

section{margin: 0;padding: 1em 0;}
section h2 {font-size: 1.7em;margin-bottom: 15px;text-transform: uppercase;font-weight: 700;display: block;padding: 15px 35px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);}
section p{line-height: 1.4em;font-size: 1.2em;font-weight: 400;}
section .left_block{width: 39%;float: left;margin-right: 4%;}
section .left_block .summary-block h2{margin-bottom: 70px;}
section .left_block .summary-block p{margin-bottom: 70px;margin-left: 25px;letter-spacing: 1px;width: 350px;}
section .left_block ul.skill-bar, section .left_block ul.contact-detail {margin: 40px 30px;}
section .left_block ul.skill-bar li {display: inline-block;margin-top: 15px;margin-bottom: 31px;}
section .left_block ul.skill-bar li .skill-title{text-transform: capitalize!important;letter-spacing: 1px;font-weight: 400!important;}
section .left_block ul.skill-bar li .skill-title, section .left_block ul.contact-detail li .contact-title {display: inline-block;width: 185px;margin: 0;font-size: 1.2em;font-weight: 700;color: #393939;text-transform: uppercase;}
section .left_block ul.skill-bar li .skill-progress{display: inline-block;width: 177px;height: 18px;vertical-align: middle;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);}
section .left_block ul.skill-bar li .skill-progress .skill-progress-inner{background-color: #b4b4b4;height: 18px;display: block;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;}
section .left_block ul.contact-detail li{display: block;margin-top: 15px;margin-bottom: 31px;}
section .left_block ul.contact-detail li .contact-description{display: inline-block;}

section .right_block{width: 57%;float: left;}
section .right_block ul.other-details{margin: 40px 30px;}
section .right_block ul.other-details li {display: inline-block;margin-top: 15px;margin-bottom: 31px;}
section .right_block ul.other-details li .experience-title{display: inline-block;width: 220px;margin: 0;font-size: 1.2em;font-weight: 700;color: #393939;vertical-align: top;}
section .right_block ul.other-details li .organization-title{display: inline-block;width: 346px;}
section .right_block ul.other-details li .organization-title h6{font-weight: 700;margin-bottom: 10px;font-size: 1.2em;}
section .right_block .reference-details{margin: 0;float: left;width: 47%;}
section .right_block .reference-details ul {float: left;width: 305px;margin: 4px 0 0 0;padding: 0;}
section .right_block .reference-details ul li{display: inline-block;margin-top: 1px;margin-bottom: 0px;}
section .right_block .reference-details .reference-title{display:block;width: 305px;margin: 0;font-size: 1.2em;font-weight: 700;color: #393939;}
section .right_block .reference-wrap{margin: 40px 30px 0;float: left;}

header .bg-style{border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-ms-border-radius: 10px;-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.42);}
